@model GeziYazisiSitesi.Modals.Yazi

@{
    ViewData["Title"] = "Yaz";
}
<section id="page-title">
    <div class="container clearfix">
        <h1>Yazı Yaz</h1>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix ">

            <form asp-action="Yaz">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Sehir"></label>
                    <select class="form-control" asp-for="SehirId" asp-items="ViewBag.Sehirler">
                        <option disabled selected value="">Şehir Seç</option>
                    </select>
                    <span asp-validation-for="SehirId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Baslik" class="control-label"></label>
                    <input asp-for="Baslik" class="form-control" />
                    <span asp-validation-for="Baslik" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Icerik" class="control-label"></label>
                    <textarea asp-for="Icerik" class="form-control"></textarea>
                    <span asp-validation-for="Icerik" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Resim" class="control-label"></label>
                    <input asp-for="Resim" class="form-control" />
                    <span asp-validation-for="Resim" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Gönder" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</section>

