@model Uye
@*@{
        ViewData["Title"] = "Duzenle";
    }*@


<section id="content">
    <div class="content-wrap">
        <div class="container clearfix ">

            <form asp-action="Edit" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UyeId" />
                @*<div class="col_full">
                    <label asp-for="Sifre">Sifre:</label>
                    <input asp-for="Sifre" class="form-control not-dark" />
                </div>
                <div class="col_full">
                    <label>Tekrar Sifre:</label>
                    <input class="form-control not-dark" type="password" id="verify" name="SifreTekrar" />
                    <span id="verifynote" class="text-danger hidden">Şifreler uyuşmuyor!</span>

                </div>*@
                <div class="col_full">
                    <label asp-for="FUrl">Facebook Url:</label>
                    <input asp-for="FUrl" class="form-control not-dark" />
                </div>
                <div class="col_full">
                    <label asp-for="GUrl">İnstagram Kullanıcı Adı:</label>
                    <input asp-for="GUrl" class="form-control not-dark" />
                </div>
                <div class="col_full">
                    <label asp-for="İnUrl">Linkedln Url:</label>
                    <input asp-for="İnUrl" class="form-control not-dark" />
                </div>
                <div class="col_full">
                    <label asp-for="TUrl">Twitter Url:</label>
                    <input asp-for="TUrl" class="form-control not-dark" />
                </div>

                <div class="form-group">
                    <label class="control-label">Öz bilgi</label>
                    @Html.TextAreaFor(model => model.ÖzBilgi, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.ÖzBilgi, "", new { @class = "text-danger" })
                    @ViewBag.Mesaj
                </div>
                <div class="form-group">
                    <label>Resim</label><br />


                    <img src="~/img/@Model.ProfilFoto" class="img-circle" width="150" />
                    <br />
                    <br />
                    <input type="file" name="file" id="file" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <button id="Kayit" class="btn btn-dark nomargin" type="submit" value="Kayıt">Kayıt Ol</button>

                </div>
            </form>
        </div>
    </div>
</section>
<script src="//cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('ÖzBilgi');
</script>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#verify').keyup(function () {
                if ($(this).val() == $('#Sifre').val()) {
                    $('#verifynote').addClass('hidden');
                    $('#Kayit').attr("disabled", false);
                } else {
                    $('#verifynote').removeClass('hidden');
                    $('#Kayit').attr("disabled", true);
                }
            });
        });</script>
}