@model GeziYazisiSitesi.Modals.Sehir

@{
    ViewData["Title"] = "Edit";
}

<section id="page-title">
    <div class="container clearfix">
        <h1>DÜZENLE</h1>
    </div>
</section>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SehirId" />
            <div class="form-group">
                <label asp-for="UlkeId"></label>
                <select class="form-control" asp-for="UlkeId" asp-items="ViewBag.Ulkeler">
                    <option disabled selected value="">Şehir Seç</option>
                </select>
                <span asp-validation-for="UlkeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

