
@{
    ViewData["Title"] = "Iletisim";
}

<section id="page-title">
    <div class="container clearfix">
        <!-- Entry Title
            ============================================= -->
        <div class="entry-title">
            <h2>İLETİŞİM</h2>
        </div><!-- .entry-title end -->
    </div>
</section>
<!-- Content
        ============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="heading-block center">
                <h3>SİTEYİ YAPARKEN KULLANDIĞIMIZ TEKNOLOJİLER</h3>
                <span>HTML5, CSS, JavaScript, jQuery, Bootstrap 4, ASP.NET Core 2.0</span>
            </div>

            <div class="row clearfix">

                <div class="col-lg-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="images/team/3.jpg" alt="John Doe">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>ENES YILMAZ</h4><span>WEB PROGRAMCISI</span></div>
                            <div class="team-content">
                                <p><strong>E-posta:</strong> enes_yilmaz1998@hotmail.com</p>
                                <p><strong>Tel:</strong> 05394203347</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-instagram">
                                <i class="icon-instagram2"></i>
                                <i class="icon-instagram2"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-github">
                                <i class="icon-github"></i>
                                <i class="icon-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="~/images/profil.jpg" alt="Emirhan Ülker">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>EMİRHAN ÜLKER</h4><span>WEB PROGRAMCISI</span></div>
                            <div class="team-content">
                                <p><strong>E-posta:</strong> emirhanlkr36@outlook.com</p>
                                <p><strong>Tel:</strong> 05354013414</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-instagram">
                                <i class="icon-instagram2"></i>
                                <i class="icon-instagram2"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-github">
                                <i class="icon-github"></i>
                                <i class="icon-github"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section><!-- #content end -->
