@model GeziYazisiSitesi.Modals.Yazi

@{
    ViewData["Title"] = "Duzenle";
}

<section id="page-title">
    <div class="container clearfix">
        <h1>Düzenle</h1>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix ">

            <form asp-action="Duzenle">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="YaziId" />
                <div class="form-group">
                    <label asp-for="Baslik" class="control-label"></label>
                    <input asp-for="Baslik" class="form-control" />
                    <span asp-validation-for="Baslik" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Icerik" class="control-label"></label>
                    <input asp-for="Icerik" class="form-control" />
                    <span asp-validation-for="Icerik" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Resim" class="control-label"></label>
                    <input asp-for="Resim" class="form-control" />
                    <span asp-validation-for="Resim" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</section>


