
@{
    ViewData["Title"] = "Ana Sayfa";
}

<h2>Ana Sayfa İçeriği</h2>
<hr />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />
<p>İçerik</p>
<br />


