@model RegisterModel
@{
    ViewData["Title"] = "Create";
}

<section id="content">

    <div class="content-wrap nopadding">


        <div class="section nobg full-screen nopadding nomargin">
            <div class="container-fluid vertical-middle divcenter clearfix">



                <div class="card divcenter noradius noborder" style="max-width: 400px;">
                    <div class="card-body" style="padding: 40px;">
                       
                            <h3>for your Account</h3>
                            <form asp-action="Create" method="post" class="m-1 p-1">
                                <div class="text-danger" asp-validation-summary="All"></div>


                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control" />

                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" class="form-control" />


                                </div>


                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />


                                </div>
                                @*<input type="submit" class="btn btn-success" value="Submit" />
                                <a asp-action="Index" class="btn btn-danger">Cansel</a>*@
                                <a asp-action="Index" class="btn btn-danger">
                                    <input type="submit" class="btn btn-warning" value="Kayıt Ol" />
                                </a>

                            </form>


                            @*<div class="col_full">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                            </div>

                            <div class="col_full">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" class="form-control" />

                            </div>
                            <div class="col_full">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                            </div>*@
                        



                       

                    </div>
                </div>

            </div>
        </div>

    </div>

</section>